h2 {
    color: #272727;
    font-size: 26px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
    display: contents;
  }
  h6 {
    color: #6f6f6f;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 2px 0;
  }

p {
    color: #6f6f6f;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}
a {
    color: #F16C6C;
    text-decoration: none;
}
a:hover, a:hover h2{
    color: #FE9898;
}
.section{
    margin: 150px 0;
}
.section-title{
    display: inline-flex;
    align-items: center;
}
.section p{
    max-width: 750px;
}
#clientLogos{
    max-width: 600px;
    margin-top: 16px;
}
.clientLogo{
    max-width: 136px;
}
#coded-by{
    font-size: 15px;
    color: #C4C4C4; 
    display: block;
    margin-top: 56px;
}
.footer-logo{
    background-size:contain;
    background-position:top;
    background-repeat: no-repeat;
    display: inline-flex;
    height: 30px;
    width: 30px;
    margin-left: 8px;
}
#drible-logo{
    background-image: url('./dribbble.svg');
}
a:hover #drible-logo{
    background-image: url('./h_dribbble.svg');
}
#behance-logo{
    background-image: url('./behance.svg');
}
a:hover #behance-logo{
    background-image: url('./h_behance.svg');
}
#vimeo-logo{
    background-image: url('./vimeo.svg');
}
a:hover #vimeo-logo{
    background-image: url('./h_vimeo.svg');
}
.footer-anchor{
    color: #C4C4C4;
}
.footer-div{
    align-items: flex-end;
    display: flex;
}
.footer-div p {
    margin-bottom: 0;
}
@media only screen and (max-width: 520px){
  .section{
    margin: 80px auto;
  }
  #clientLogos{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .section-title{
        display: initial;
    }
    #clientLogos img{
    margin: 16px 8px;
    max-width: 112px;
    }
    .flex-div.footer-div{
        flex-direction: column;
        align-items: start;
    }
    .footer-logo{
        margin-left: 0;
        margin-right: 8px;
    }
    .footer-div{
        margin: 16px 0;
        display: inline;
    }
}