h2 {
    color: #272727;
    font-size: 26px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
  }
  h6 {
    color: #6f6f6f;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 2px 0;
  }

p {
    color: #6f6f6f;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}
a {
    color: #F16C6C;
    text-decoration: none;
}
.section{
    margin: 150px 0;
}
#clientLogos{
    max-width: 600px;
    margin-top: 72px;
}
footer span{
    font-size: 15px;
    color: #C4C4C4; 
}
#redbull{
    max-width: 98px;
}
#malltv{
    max-width: 67px;
}
#mews{
    max-width: 122px;
}
#mondelez{
    max-width: 147px;
}
#bb{
    max-width: 96px;
}
#skoda{
    max-width: 70px;
}
#primago{
    max-width: 135px;
}
#tbUniiversity{
    max-width: 207px;
}
.footer-logo{
    margin-bottom: -5px;
}
.footer-anchor{
    color: #C4C4C4;
}
.footer-div{
    align-items: flex-end;
}
.footer-div p {
    margin-bottom: 0;
}